[Unit]
Description=mount {{ item.src }}
After=network.target multi-user.target

[Mount]
What={{ item.src }}
Where={{ item.path }}
Type={{ item.type }}
{% if item.type == 'cifs' -%}
Options=rw,noauto,_netdev,x-systemd.automount,vers=2.0,uid={{ username }},credentials=/root/.credential_{{ item.name | lower }}
{% elif item.type == 'fuse.sshfs' -%}
Options=noauto,_netdev,reconnect,x-systemd.automount,identityfile=[{ identity_file }],allow_other,uid={{ uid }},gid={{ guid }}
{% endif -%}
SloppyOptions=on
DirectoryMode=0755
TimeoutSec=0

[Install]
WantedBy=default.target
